.background{
    width: 70%;
}

.restaurantTitle{
    padding: 8% 15%;
    text-align: center;
}

.restaurantText{
    padding: 0% 15%;
    text-align: justify;
}

.food{
    padding: 4% 15%;
}

.foodText{
    text-align: justify;
    font-size: 1.3vw;
}

.w{
    margin: 0% 2%;
}

.contactTitle{
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    padding: 4% 20%;
}

.contactText{
    font-size: 4vw;
    text-align: center;
    padding: 1.5% 20%;
}

